[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==19.3b0"
coverage = "*"
requests-mock = "*"

[packages]
flask = "*"
requests = "*"
xmltodict = "*"
redis = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.6"
